*.d
*.o
*.su
*.mk
*.cyclo
/.settings/*.xml
/Debug/*.d
/Debug/*.o
/Debug/*.su
/Debug/*.mk
/Debug/*.map
/Debug/*.list
/Debug/*.elf
/Debug/*.cyclo
/Release/*.d
/Release/*.o
/Release/*.su
/Release/*.mk
/Release/*.map
/Release/*.list
/Release/*.elf
/Release/*.elf
/Release/*.cyclo

.cproject
language.settings.xml
free_rtos_stm32.launch
free_rtos_stm32.elf
free_rtos_stm32.map
makefile
objects.list

develop/